# Nigeria Agricultural Exports

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
import plotly.express as px
import dash_bootstrap_components as dbc
from dash_bootstrap_templates import load_figure_template
from dash import Dash, html, dcc
from dash.dependencies import Output, Input
from dash.exceptions import PreventUpdate

In [2]:
# read data
df = pd.read_csv('nigeria_agricultural_exports.csv')

In [3]:
# display few lines
df.head()

,Product Name,Company,Export Country,Date,Units Sold,unit_price,Profit per unit,Export Value,Destination Port,Transportation Mode
0,Rubber,Farmgate Nigeria Limited,Austria,11/16/2023,721,31443.05,5863.92,22670439.05,Lagos,Sea
1,Palm Oil,Prime Agro Exports Nigeria Limited,Germany,1/8/2021,881,23151.97,5868.73,20396885.57,Lagos,Sea
2,Cassava,Farmgate Nigeria Limited,Germany,10/14/2020,702,18536.45,5105.01,13012587.90,Calabar,Sea
3,Rubber,Nigerian Export Promotion Council (NEPC),Belgium,12/31/2022,191,21981.31,7781.54,4198430.21,Warri,Sea
4,Sesame,Nigeria Agro Export Company,France,12/19/2022,373,13415.94,9590.95,5004145.62,Lagos,Sea

### Data Wrangling

In [4]:
#check the shape
df.shape

(1000, 10)

- Data contain 1000 rows and ten columns

In [5]:
#check missing values
df.isna().sum()

Product Name           0
Company                0
Export Country         0
Date                   0
Units Sold             0
unit_price             0
Profit per unit        0
Export Value           0
Destination Port       0
Transportation Mode    0
dtype: int64

- There are no missing values

In [6]:
#check for duplicates
df.duplicated().sum()

0

- There are no duplicates

In [7]:
#check for column names
df.columns

Index(['Product Name', 'Company', 'Export Country', 'Date', 'Units Sold',
       'unit_price', 'Profit per unit', 'Export Value', 'Destination Port',
       'Transportation Mode'],
      dtype='object')

In [8]:
#check for datatypes
df.dtypes

Product Name            object
Company                 object
Export Country          object
Date                    object
Units Sold               int64
unit_price             float64
Profit per unit        float64
Export Value           float64
Destination Port        object
Transportation Mode     object
dtype: object

- Date datatype is wrong

In [9]:
# Change the date column to date datatype
df['Date'] = pd.to_datetime(df['Date'])

In [10]:
#confirm the date datatype has been changed
df.dtypes

Product Name                   object
Company                        object
Export Country                 object
Date                   datetime64[ns]
Units Sold                      int64
unit_price                    float64
Profit per unit               float64
Export Value                  float64
Destination Port               object
Transportation Mode            object
dtype: object

### Data Exploration

In [11]:
#checking for unique products
df['Product Name'].unique()

array(['Rubber', 'Palm Oil', 'Cassava', 'Sesame', 'Cashew', 'Ginger',
       'Plantain', 'Cocoa'], dtype=object)

In [12]:
#counting the number of unique products
df['Product Name'].nunique()

8

- There are eight uniques agricultural products

In [13]:
#checking the number of company that exports products
df['Company'].nunique()

10

In [14]:
#checking the company names
df['Company'].unique()

array(['Farmgate Nigeria Limited', 'Prime Agro Exports Nigeria Limited',
       'Nigerian Export Promotion Council (NEPC)',
       'Nigeria Agro Export Company',
       'Greenfield Agro Exporters Nigeria Limited',
       'Solid Agro Nigeria Limited', 'Agro Export Nigeria Ltd',
       'Golden Farms Nigeria Limited', 'Agriplus Nigeria Limited',
       'Agro Allied Exporters Nigeria Limited'], dtype=object)

- There are 10 companies that are involved in export of agricultural products

In [15]:
#checking the number of countries that the produce are exported to
df['Export Country'].nunique()

10

In [16]:
df['Export Country'].unique()

array(['Austria', 'Germany', 'Belgium', 'France', 'Netherlands',
       'Denmark', 'Sweden', 'Switzerland', 'Italy', 'Spain'], dtype=object)

- There are 10 countries that the agricultural products are exported to

In [17]:
#checking the date range
df['Date'].min()

Timestamp('2020-01-05 00:00:00')

In [18]:
#checking the maximum date 
df['Date'].max()

Timestamp('2023-12-30 00:00:00')

- Data contain dates from 2020 to 2023

In [19]:
#checking the unique destination port
df['Destination Port'].unique()

array(['Lagos', 'Calabar', 'Warri', 'Port Harcourt'], dtype=object)

- There are four destination port

In [20]:
#checking the transportation mode
df['Transportation Mode'].unique()

array(['Sea'], dtype=object)

- There is only one mode of transport which is sea

In [21]:
df.head(2)

,Product Name,Company,Export Country,Date,Units Sold,unit_price,Profit per unit,Export Value,Destination Port,Transportation Mode
0,Rubber,Farmgate Nigeria Limited,Austria,2023-11-16,721,31443.05,5863.92,22670439.05,Lagos,Sea
1,Palm Oil,Prime Agro Exports Nigeria Limited,Germany,2021-01-08,881,23151.97,5868.73,20396885.57,Lagos,Sea

### Feature Engineering

In [22]:
#create a copy of the data
data = df.copy()

In [23]:
#confirm the data have been copied
data.head(2)

,Product Name,Company,Export Country,Date,Units Sold,unit_price,Profit per unit,Export Value,Destination Port,Transportation Mode
0,Rubber,Farmgate Nigeria Limited,Austria,2023-11-16,721,31443.05,5863.92,22670439.05,Lagos,Sea
1,Palm Oil,Prime Agro Exports Nigeria Limited,Germany,2021-01-08,881,23151.97,5868.73,20396885.57,Lagos,Sea

In [24]:
#create the year column
data['Year'] = data['Date'].dt.year

In [25]:
#create the month column
data['Month'] = data['Date'].dt.month

In [26]:
#create the month name column
data['Month Name'] = data['Date'].dt.month_name()

In [27]:
#confirm the columns
data.head(2)

,Product Name,Company,Export Country,Date,Units Sold,unit_price,Profit per unit,Export Value,Destination Port,Transportation Mode,Year,Month,Month Name
0,Rubber,Farmgate Nigeria Limited,Austria,2023-11-16,721,31443.05,5863.92,22670439.05,Lagos,Sea,2023,11,November
1,Palm Oil,Prime Agro Exports Nigeria Limited,Germany,2021-01-08,881,23151.97,5868.73,20396885.57,Lagos,Sea,2021,1,January

In [28]:
#create the COGS column
data['COGS'] = data['unit_price'] - data['Profit per unit']

In [30]:
#rename columns
data.rename(columns={
    'unit_price': 'Unit Price',
    'COGS': 'COGS Per Unit',
    'Profit per unit': 'Profit Per Unit' 
}, inplace=True)

In [31]:
#create total cogs and total profit
data['Total COGS'] = data['Units Sold'] * data['COGS Per Unit']
data['Total Profit'] = data['Units Sold'] * data['Profit Per Unit']

In [32]:
#confirm the columns
data.head(3)

,Product Name,Company,Export Country,Date,Units Sold,Unit Price,Profit Per Unit,Export Value,Destination Port,Transportation Mode,Year,Month,Month Name,COGS Per Unit,Total COGS,Total Profit
0,Rubber,Farmgate Nigeria Limited,Austria,2023-11-16,721,31443.05,5863.92,22670439.05,Lagos,Sea,2023,11,November,25579.13,18442552.73,4227886.32
1,Palm Oil,Prime Agro Exports Nigeria Limited,Germany,2021-01-08,881,23151.97,5868.73,20396885.57,Lagos,Sea,2021,1,January,17283.24,15226534.44,5170351.13
2,Cassava,Farmgate Nigeria Limited,Germany,2020-10-14,702,18536.45,5105.01,13012587.90,Calabar,Sea,2020,10,October,13431.44,9428870.88,3583717.02

## Data Analysis

## APP DEVELOPMENT

In [273]:
import plotly.express as px
import dash_bootstrap_components as dbc
from dash_bootstrap_templates import load_figure_template
from dash import Dash, html, dcc
from dash.dependencies import Output, Input
from dash.exceptions import PreventUpdate

#create the app
app = Dash(__name__, external_stylesheets=[dbc.themes.SLATE])

load_figure_template("SLATE")

#create the layout
app.layout = dbc.Container([
    
    dcc.Tabs([    
            
            #tab 0
            dcc.Tab(
                label = "KPI",
                children = [
                    
                        #empty row
                        dbc.Row(
                            html.Br()
                        ),
                    
                        #title row
                        dbc.Row(
                            [html.H3(
                                html.Span("Analysis of Nigeria Agricultural Exports (2020 - 2023)", style={"color":"#56F52B"})),
                            html.H6("Using Pandas | Plotly | Dash")]
                        ),
                    
                        dbc.Row([
                            dbc.Col(
                                html.Span(
                                    " "),
                                width=8
                            ),
                            dbc.Col(
                               [ 
                                   html.Span("Select Year to Analyze:"),
                                   dcc.Dropdown(
                                        id="year_selected_0",
                                        options = list(data['Year'].unique()),
                                        value=2023
                                    )
                               ]
                            )
                            
                            
                        ]),
                    
                        dbc.Row(
                            html.Br()
                        ),

                        dbc.Row([ 

                            dbc.Col(
                                dbc.Card([
                                    html.Br(),
                                    html.P("Nigeria exported"),
                                    html.H1(id = "kpi_1"),
                                    html.P("Agric Produce")
                                    ], style={"textAlign": "center", "fontSize": 15, "color": "#EEECE1"}
                                ), width=4
                            ),
                            dbc.Col(
                                dbc.Card([
                                    html.Br(),
                                    html.P("Which they exported to"),
                                    html.H1(id = "kpi_2"),
                                    html.P("Countries")
                                    ], style={"textAlign": "center", "fontSize": 15, "color": "#EEECE1"}
                                ), width=4
                            ),
                            dbc.Col(
                                dbc.Card([
                                    html.Br(),
                                    html.P("They export them through"),
                                    html.H1(id = "kpi_3"),
                                    html.P("Companies")
                                    ], style={"textAlign": "center", "fontSize": 15, "color": "#EEECE1"}
                                ), width=4
                            )

                        ]),
                    
                    dbc.Row(
                        html.Br()
                    ),
                    
                    #another row
                    dbc.Row([ 

                            dbc.Col(
                                dbc.Card([
                                    html.Br(),
                                    html.P("Units Sold"),
                                    html.H1(id = "kpi_4"),
                                    html.H5(id="kpi_4a")
                                    ], style={"textAlign": "center", "fontSize": 15, "color": "#EEECE1"}
                                ), width=4
                            ),
                            dbc.Col(
                                dbc.Card([
                                    html.Br(),
                                    html.P("Export Value"),
                                    html.H1(id = "kpi_5"),
                                    html.H5(id="kpi_5a")
                                    ], style={"textAlign": "center", "fontSize": 15, "color": "#EEECE1"}
                                ), width=4
                            ),
                            dbc.Col(
                                dbc.Card([
                                    html.Br(),
                                    html.P("Profit"),
                                    html.H1(id = "kpi_6"),
                                    html.H5(id="kpi_6a")
                                    ], style={"textAlign": "center", "fontSize": 15, "color": "#EEECE1"}
                                ), width=4
                            )

                        ]),
                    
                    #another row
                    dbc.Row(
                        html.Br()
                    ),
                    
                    dbc.Row(
                        [html.Br(),
                        html.P("Note: This analysis is based on the data provided and do not represent the actual values")],
                        style={"color": "grey", "fontSize": 14}
                    )
                    
                 ]
            
            ),
        
            
            #tab 1
            dcc.Tab(
                label = "Product Analysis",
                children =[#row one
                        dbc.Row([
                            dbc.Col([
                                html.Br(),
                                html.P("Select Year:"),
                                dcc.Dropdown(
                                    id = "year_filter",
                                    options = list(data['Year'].unique()),
                                    value = 2023
                                    ),
                                html.Br(),
                                html.P("Select Type"),
                                dcc.RadioItems(
                                    id = "select_cat3",
                                    options = ["Sales", "Profit"],
                                    value = "Sales"
                                    )
                                ], width=2),

                            dbc.Col(
                                [html.Br(),
                                dcc.Graph(id="graph1")]
                            )
                        ])]
                ),

               
                #tab two
                 dcc.Tab(
                     label = "Trend Analysis",
                     children=[
                         dbc.Row([

                                html.Br(),
                                html.P("Select Product to Analyze Trend"),
                                dcc.Dropdown(
                                    id="select_product",
                                    options = list(data['Product Name'].unique()),
                                    value = ["Cocoa", "Cashew", "Sesame"],
                                    multi = True
                                ),
                                html.Br(),
                                dcc.Graph(id = "graph2")
                            ])
                     ]
                 ),
                
                #tab three
                dcc.Tab(
                    label = "Port Analysis",
                    children = [
                        dbc.Row([
                            dbc.Col([
                                    html.Br(),
                                    html.P("Select Year"),
                                    dcc.Dropdown(
                                    id = "select_year2",
                                    options=list(data['Year'].unique()),
                                    value=2023
                                )
                            ], width = 2),
                            dbc.Col([
                                    html.Br(),
                                    html.P("Select Category to Analyze"),
                                    dcc.RadioItems(
                                        id = "select_cat",
                                        options = ["Export Value", "Export Volume"],
                                        value = "Export Value",
                                        inline=True
                                    ),
                                    dcc.Graph(id = "graph3")
                            ])
                        ])
                    ]
                
                ),
            
            #tab four
            dcc.Tab(
                label="Export Country",
               children = [
                dbc.Row(
                    [ 
                        dbc.Col(
                            [
                                html.Br(),
                                html.P("Select Year:"),
                                dcc.Dropdown(
                                    id = "select_year4",
                                    options=list(data['Year'].unique()),
                                    value=2023
                                    )
                            ], width = 2),
                    
                        dbc.Col(
                            [
                                html.Br(),
                                html.H5("Select Product to Compare"),
                                dcc.Checklist(
                                    id = "select_product4",
                                    options=list(data['Product Name'].unique()),
                                    value=["Cocoa", "Cashew", "Sesame"],
                                    inline = True
                                )
                            ]
                        )
                    ]),
                        
                dbc.Row(
                    dcc.Graph(id = "graph4")
                )
                ]),
        
            #tab 5
            dcc.Tab(
                label = "Company Analysis",
                children = [
                        dbc.Row(
                            [ 
                               dbc.Col([
                                   html.Br(),
                                   html.P("Select Year"),
                                   dcc.Dropdown(
                                        id = "select_year5",
                                        options=list(data['Year'].unique()),
                                        value=2023)
                               ], width=2),

                               dbc.Col([
                                   html.Br(),
                                   html.H5("Select a Category to Analyze:"),
                                   dcc.RadioItems(
                                        id = "select_option5",
                                        options= ["Export Volume","Export Value"],
                                        value = "Export Volume",
                                        inline = True)
                               ])

                            ]
                        ),
                        dbc.Row(
                            dcc.Graph(id = "graph5")
                        )
                
                
            ])
           

                
     ])
])


#create callback for kpi
@app.callback(
    Output("kpi_1", "children"),
    Output("kpi_2", "children"),
    Output("kpi_3", "children"),
    Output("kpi_4", "children"),
    Output("kpi_4a", "children"),
    Output("kpi_5", "children"),
    Output("kpi_5a", "children"),
    Output("kpi_6", "children"),
    Output("kpi_6a", "children"),
    Input("year_selected_0", "value")
)
def calculate_kpi(year_selected):
    unique_products = data.query("Year == @year_selected")["Product Name"].nunique()
    
    export_country = data.query("Year == @year_selected")["Export Country"].nunique()
    
    company = data.query("Year == @year_selected")["Company"].nunique()
    
    prev_year = int(f"{year_selected}") - 1
    
    #total units
    total_units = data.query("Year == @year_selected")['Units Sold'].sum()
    total_units_text = str(round(total_units/1000))+"K"
    prev_total_units = data.query("Year == @prev_year")['Units Sold'].sum()
    yoy_total_units = round(((total_units - prev_total_units)/prev_total_units)*100, 2)
    yoy_tunits_text = "YOY: "+str(yoy_total_units)+"%"
    
    #export value
    export_value = round(data.query("Year == @year_selected")['Export Value'].sum(),2)
    export_value_text = "â‚¦"+ str(round(export_value/1000000000,2))+"B"
    prev_export_value = data.query("Year == @prev_year")['Export Value'].sum()
    yoy_export_value = round(((export_value - prev_export_value)/prev_export_value)*100, 2)
    yoy_expval_text = "YOY: "+str(yoy_export_value)+"%"
    
    #total profit
    total_profit = round(data.query("Year == @year_selected")['Total Profit'].sum(),0)
    total_profit_text = "â‚¦"+ str(round(total_profit/1000000))+"M"
    prev_total_profit = data.query("Year == @prev_year")['Total Profit'].sum()
    yoy_profit = round(((total_profit - prev_total_profit)/prev_total_profit)*100, 2)
    yoy_profit_text = "YOY: "+str(yoy_profit)+"%"
    
    return unique_products, export_country, company, total_units_text, yoy_tunits_text, export_value_text, yoy_expval_text, total_profit_text, yoy_profit_text




#create the callback for Product and Trend Analysis
@app.callback(
    Output("graph1", "figure"),
    Output("graph2", "figure"),
    Input("select_cat3", "value"),
    Input("year_filter", "value"),
    Input("select_product", "value")
)
def product_sales_year (cat_selected, year_selected, selected_product):
    if not year_selected:
        raise PreventUpdate
    
    if f"{cat_selected}" == "Sales":
        fig = px.bar(
            data.query(f"Year == {year_selected}").groupby(['Product Name'], as_index=False).agg(
                total_units_sold = ('Units Sold', 'sum')).sort_values('total_units_sold', ascending=False),
            x = 'Product Name',
            y = 'total_units_sold',
            title = f"Total Sales of each Export Products in {year_selected}",
            labels = {
                'total_units_sold': 'Total Sales',
                'Product Name': 'Export Products'}
        ).update_layout(title = {"x": 0.5, "y": 0.85})
    elif f"{cat_selected}" == "Profit":
        fig = px.bar(
            data.query(f"Year == {year_selected}").groupby(['Product Name'], as_index=False).agg(
                total_profit = ('Total Profit', 'sum')).sort_values('total_profit', ascending=False),
            x = 'Product Name',
            y = 'total_profit',
            title = f"Total Profits of each Export Products in {year_selected}",
            labels = {
                'total_profit': 'Total Profit (â‚¦)',
                'Product Name': 'Export Products'}
        ).update_layout(title = {"x": 0.5, "y": 0.85})
    
    fig2 = px.line(
        data.query("`Product Name` == @selected_product").groupby(['Year', 'Product Name'], as_index=False).agg(
        total_sales = ('Units Sold', 'sum')),
        x = 'Year',
        y = 'total_sales',
        color = "Product Name",
        title = f"Annual Sales of {selected_product}",
        labels = {"total_sales":"Total Sales"}
        
    ).update_xaxes(type="category").update_layout(title = {"x": 0.5, "y": 0.85})
        
    
    return fig, fig2



#callback function for destination port
@app.callback(
    Output("graph3", "figure"),
    Input("select_year2", "value"),
    Input("select_cat", "value")
)
def plot_port (select_year2, select_cat):
    if f"{select_cat}" == "Export Value":
        fid = px.bar(
                data.query("Year == @select_year2").groupby(['Destination Port'], as_index=False).agg(
                total_export_value=('Export Value', 'sum')).sort_values('total_export_value', ascending=False),
                x = "Destination Port",
                y = "total_export_value",
                title = f"Export Values of Destination Port in {select_year2}",
                labels = {"total_export_value":"Export Value (â‚¦)"}
        ).update_layout(title = {"x": 0.5, "y": 0.85})
    elif f"{select_cat}" == "Export Volume":
        fid = px.bar(
                data.query("Year == @select_year2").groupby(['Destination Port', 'Product Name'], as_index=False).agg(
                total_volume=('Units Sold', 'sum')).sort_values('total_volume', ascending=False),
                x = "Destination Port",
                y = "total_volume",
                color = "Product Name",
                title = f"Export Volumes of Destination Port in {select_year2}",
                labels = {"total_volume":"Export Volume"}
        ).update_layout(title = {"x": 0.5, "y": 0.85})
    return fid



#callback for export country
@app.callback(
    Output("graph4", "figure"),
    Input("select_year4", "value"),
    Input("select_product4", "value")
)
def plot_port (select_year4, select_product4):
    fidd = px.bar(
        data.query("(Year == @select_year4) and (`Product Name` in @select_product4)").groupby(
            ["Export Country", 'Product Name'], as_index=False).agg(
            total_volume = ('Units Sold', 'sum')).sort_values('total_volume', ascending=False),
        x = 'Export Country',
        y = 'total_volume',
        color = 'Product Name',
        title = f"Total Sales of {select_product4} to Export Countries in {select_year4}",
        barmode = 'group',
        labels = {"total_volume":"Total Sales"}
    ).update_layout(title = {"x": 0.5, "y": 0.85})
   
    return fidd



# callback function for company analysis
@app.callback(
    Output("graph5", "figure"),
    Input("select_year5", "value"),
    Input("select_option5", "value")
)
def plot_company (select_year5, select_option5):
    if f"{select_option5}" == "Export Volume":
        figg = px.bar(
            data.query("Year == @select_year5").groupby(['Company'], as_index=False).agg(
                total_volume = ('Units Sold', 'sum')).sort_values('total_volume', ascending=True),
            y = 'Company',
            x = 'total_volume',
            title = f"Total Export Volume by Companies in {select_year5}",
            labels = {"total_volume":"Total Volume"}
        ).update_layout(title = {"x": 0.5, "y": 0.85})
    elif f"{select_option5}" == "Export Value":
        figg = px.bar(
            data.query("Year == @select_year5").groupby(['Company'], as_index=False).agg(
                total_export_value = ('Export Value', 'sum')).sort_values('total_export_value', ascending=True),
            y = 'Company',
            x = 'total_export_value',
            title = f"Total Export Value by Companies in {select_year5}",
            labels = {"total_export_value":"Export Value (â‚¦)"}
        ).update_layout(title = {"x": 0.5, "y": 0.85})
   
    return figg



#run app
if __name__ == "__main__":
    app.run_server(port=8040)